/*-------------- about -----------------*/
.about{
	position: relative;
	&__content{position: relative;}

	&__content::before{
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		background: $color-green;
		position: absolute;
		top: -48px;
		right: -14px;
	}

	h2, .h2{margin-bottom: 6.5rem;}
}

@media (max-width: 991px) {
	.about{
		&__content{margin-bottom: 30px;}
	}
}

@media (max-width: 767px) {
	.about{
		h2, .h2{margin-bottom: 4rem;}
		&__content{text-align: center;}
		&__content::before{
			top: -25px;
			right: 22%;
		}
	}
}