/*-------------- advant -----------------*/
.advant-wrap{
	margin: 35px 0;
	position: relative;
	z-index: 1;

	h2, .h2{max-width: 500px;}
}

.advant-item{
	margin-bottom: 42px;
	text-align: center;

	&__img{
		display: flex;
		align-items: flex-end;
		margin-bottom: 30px;
		height: 216px;

		img{
			display: block;
			max-height: 100%;
			margin: 0 auto;
		}
	}

	&__text{
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

@media (max-width: 767px) {
	.advant-wrap{
		margin: 40px 0;

		.h2, h2{margin-bottom: 4rem;}
	}

	.advant-item{
		&__img{
			height: auto;
			margin-bottom: 20px;
		}
	}
}