/*-------------- cases -----------------*/
.cases-wrap{
	margin: 110px 0;

	h2, .h2{
		position: relative;
		margin-right: 30px;
		margin-bottom: 0;
	}

	h2::after,
	.h2::after{
		content: '';
		display: inline-block;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: $color-red;
		position: absolute;
		top: -20px;
		right: -50px;
	}

	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;
	}
}

.cases-slider{
	display: none;
	

	&.slick-initialized{display: block;}
	// .slick-track{display: flex;}

	// .slick-slide{
	// 	height: auto;
	// 	transition: all 0.2s ease 0s;
	// }

	// .slick-slide:not(.slick-current){
	// 	opacity: 0.4;
	// 	transform: scale(0.8);
		
	// }

	.slick-list{
		padding: 0 calc(50% - 585px);
	}

	.slick-slide{
		height: auto;
		margin: 0 15px;
		transition: opacity 0.2s ease 0s;
	}

	.slick-slide > div{height: 100%;}
	// .slick-slide[aria-hidden="true"]{opacity: 0.3;}
	.slick-slide:not(.slick-active){opacity: 0.3;}

	&__img{
		img{
			display: block;
			border-radius: 16px;
			margin: 0 auto;
		}
	}

	&__text{
		max-width: 380px;
		font-size: 1.6rem;
		line-height: 1.6;
		text-align: center;
		margin: 22px auto 0;
	}
}