/*-------------- run-line -----------------*/
@keyframes run-stroke {
	0% {transform: translate(0, 0);}
	100% {transform: translate(-100%, 0)}
}

.run-line{
	margin: 90px 0;
	position: relative;

	&::before{
		content: '';
		display: inline-block;
		width: 684px;
		height: 684px;
		border-radius: 50%;
		background: #ECF5FC;
		position: absolute;
		top: -210px;
		right: -265px;
	}

	&__content{
		display: flex;
		font-family: $font-bitter;
		font-size: 4rem;
		white-space: nowrap;
		animation: run-stroke 20s infinite linear;
	}

	&__item{
		display: inline-flex;
		position: relative;
		margin: 0 24px;
	}

	&__item::after{
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: $color-green;
		position: absolute;
		top: 50%;
		right: -26px;
		transform: translateY(-50%);
	}

	&__label{
		font-weight: 900;
		color: #000;
	}

	&__val{
		font-size: 3.7rem;
		font-weight: bold;
		color: #888;
	}
}

@media (max-width: 991px) {
	.run-line{
		&::before{
			width: 484px;
			height: 484px;
		}
	}
}