/*-------------- steps -----------------*/
.steps-wrap{
	margin: 133px 0 80px;
	position: relative;

	.h2, h2{margin-bottom: 6.5rem;}
}

.step-item{
	margin-bottom: 60px;

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		margin-bottom: 22px;
		position: relative;

		.icon{
			max-height: 100%;
			fill: $color-blue;
		}
	}

	&__num{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: #ECF5FC;
		@include font(none, bold, 1.6rem, 1, $color-text);
		position: absolute;
		top: 0;
		right: -50px;
	}

	&__text{
		max-width: 280px;
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

@media (max-width: 767px) {
	.steps-wrap{
		margin: 40px 0 80px;

		h2, .h2{margin-bottom: 4rem;}
	}

	.step-item{
		text-align: center;
		margin-bottom: 42px;
		&__icon{margin-right: 50px;}
		&__text{max-width: none;}
	}
}