/*-------------- team -----------------*/
.team-wrap{
	margin: 135px 0;
	position: relative;

	&::before{
		content: '';
		display: inline-block;
		width: 1060px;
		height: 1060px;
		border-radius: 50%;
		background: #ECF5FC;
		position: absolute;
		top: 165px;
		left: -315px;
	}

	.st-width{
		position: relative;
		padding: 100px 0 40px;
	}
}

.team{
	position: relative;
	padding: 40px 0;

	&::before{
		content: '';
		display: inline-block;
		width: 42px;
		height: 49px;
		background: url(../img/stars-white.png) no-repeat center;
		background-size: contain;
		position: absolute;
		top: 58px;
		left: -46px;
	}

	&::after{
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(../img/star-white.png) no-repeat center;
		background-size: contain;
		position: absolute;
		top: -10px;
		right: 14px;
	}
}

.team-item{
	text-align: center;
	margin-bottom: 40px;

	&__img{margin-bottom: 20px;}

	&__name{
		font-weight: 500;
		font-size: 1.8rem;
	}

	&__post{
		font-size: 1.4rem;
		line-height: 1.5;
		margin-top: 7px;
	}
}