.header{
	padding: 20px 0;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo{
		max-width: 248px;
		margin-right: 15px;
	}

	&__contacts{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-left: 15px;
	}

	&__callback{
		display: inline-block;
		@include font(none, 500, 1.6rem, none, $color-blue);
		text-decoration: underline;
		text-decoration-color: $color-light-blue;
		margin-top: 8px;
		cursor: pointer;
		transition: all 0.2s ease 0s;
	}

	&__callback:hover{
		color: $color-purple;
		text-decoration-color: $color-purple;
	}
}

.top-menu{
	&__list,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		align-items: center;
	}

	&__item{margin: 0 23px;}

	&__item,
	&__link{
		@include font(normal, 500, 1.6rem, 1.2, $color-blue);
		transition: all 0.2s ease 0s;
	}

	&__link:hover{
		color: $color-purple;
	}
}

.contact-phone{
	display: inline-flex;
	align-items: center;
	text-decoration: none;

	&__icon{
		flex-shrink: 0;
		margin-right: 18px;
		
		.icon{fill: $color-red;}
	}

	&__text{
		font-family: $font-bitter;
		@include font(normal, 900, 2.2rem, 1.2, $color-text);
	}
}