html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.375, $color-text);
	box-sizing:border-box;
}

body{font-size: 1.8rem;}

body.no-scroll{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-blue;
	text-decoration: underline;
	text-decoration-color: $color-light-blue;
	transition: all 0.2s ease 0s;
}

a:hover{
	color: $color-purple;
	text-decoration-color: $color-purple;
}

p{
	padding: 0;
	margin-bottom: 1.6rem;
}
 
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	font-family: $font-bitter;
	font-weight: bold;
	line-height: 1.4;
}

h1,.h1{
	font-size: 6rem;
	margin-bottom: 3.5rem;
	line-height: 1.35;
	letter-spacing: -3px;
}

.h1-big{
	font-size: 8rem;
	letter-spacing: 0;
}

h2,.h2{
	font-size: 4.6rem;
	margin-bottom: 2.5rem;
}

h3,.h3{
	font-size: 3.8rem;
	letter-spacing: -1.5px;
	margin-bottom: 4rem;
}

h4,.h4{
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

h5,.h5{
	font-size: 2.4rem;
	margin-bottom: 1.5rem;
}

h6,.h6{
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

main{
	flex: 1 1 auto;
	padding-bottom: 100px;
	width: 100%;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
	height: 7.2rem;
	min-width: 200px;
	background: $color-blue linear-gradient(90deg, #00AAFF 0%, #48C2FF 100%);
	border: none;
	outline: none;
	border-radius: 3.6rem;
	@include font(normal, bold, 1.8rem, 1.2, #fff);
	text-align: center;
	text-decoration: none;
	padding: 5px 40px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	overflow: hidden;
	position: relative;
	z-index: 1;
}


.btn,
button.btn{
	transition: background 0.2s ease 0.1s;
}

input[type="submit"].btn{transition: background 0.2s ease 0s;}

.btn::after{
	content: "";
	height: 0%;
	width: 150%;
	border: 4px solid #ffffff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(-180deg);
	position: absolute;
	left: 50%;
	top: 50%;
	transition: all 1s ease 0s;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	background: $color-purple;
	color:#fff;
}

.btn:hover::after{
	height: 400%;
	opacity: 1;
	color: #FFF;
}

.btn{
	.icon{fill: #fff;}
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	border: 1px solid #fff;
	background: transparent;
}

.btn_border,
button.btn_border{
	transition: border 0.2s ease 0.1s, background 0.2s ease 0.1s;
}

input[type="submit"].btn_border{transition: border 0.2s ease 0s, background 0.2s ease 0s;}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	background: #fff;
	border-color: #fff;
	color: $color-purple;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold{font-weight: 700 !important;}
.text-red{color: $color-red;}
.text-blue{color: $color-blue;}

.bg-light-blue{background-color: $color-light-blue;}

.bg-purple{
	background-color: $color-purple;
	color: #fff;
}

.elem-border{border-radius: 60px;}

.st-width{
	width: 1600px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}