footer.footer
	.container
		.row
			.col-12
				.footer__content
					.footer__logo.d-none.d-md-block
						img(src="assets/img/logo-big.svg", alt="")

					.footer__copyright © «Авитология» 2022

					.footer__callback.d-md-none(data-fancybox="dialog2", data-src="#feadback") Обратный звонок

					a(href="tel:+78129552906").contact-phone
						span.contact-phone__icon
							+svg('ic-call','ic-call', '24', '24')
						span.contact-phone__text 8 (812) 955-29-06

#feadback(style='display: none;')
	.popup-form
		.js-valid-form
			form.form-site
				.h3 Обратный звонок
				
				.form-site__content
					.form-site__item.js-form-site-item
						.form-site__field
							input(type="text", aria-required="true", placeholder="Ваше имя")

					.form-site__item.js-form-site-item
						.form-site__field
							input(type="text", class="js-phone", placeholder="Телефон")

				.form-site__btn
					button(type="submit").btn.btn_border.js-btn-submit Заказать звонок


#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__title.js-success-alert-title Ваше сообщение отправлено!
		.success-alert__text.js-success-alert-text В ближайшее время с вами свяжется наш менеджер и обсудит все детали.