header.header
	.container
		.row
			.col-12
				.header__content
					.header__logo
						img(src="assets/img/logo.svg", alt="")

					nav.top-menu.js-top-menu
						ul.top-menu__list
							-
								var list=[
									{text:'Услуги'},
									{text:'Кейсы'},
									{text:'Отзывы'},
									{text:'Цены'},
									{text:'Контакты'},
								]
							each item in list
								li.top-menu__item
									a(href="#").top-menu__link= item.text

					.header__contacts.d-none.d-lg-flex
						a(href="tel:+78129552906").contact-phone
							span.contact-phone__icon
								+svg('ic-call','ic-call', '20', '20')
							span.contact-phone__text 8 (812) 955-29-06
						
						.header__callback(data-fancybox="dialog", data-src="#feadback") Обратный звонок
						
					.ic-hamburger.d-lg-none.js-btn-menu
						span